body {
	background-color:#676b72;
}

h1 {
	color: black;
	margin-left: 20px;
}

	
	.container{
		width:80%;
		margin:auto;
		overflow:hidden;
	}
	
	ul{
		margin:0;
		padding:0;
	}
	
	header{
		background:#a36411;
		color:#3b3d13;
		padding-top: 30px;
		min-height: 70px;
		border-bottom:black 3px solid;
		
	}
	
	
	header a{
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-size:16px;
	}
	
	

	
	header li{
		
		display:inline;
		padding: 0 20px 0 20px;
	}


	header #branding{
		float: left;
	}


	header #branding h1{
		margin:0;
	}

	header nav{
		float: right;
		margin-top: 10px;
	}
	
	header .highlight, header .current a{
		color: black;
		font-weight: bold;
	}
	
	header a:hover{
		color: #cccccc;
		font-weight:bold;
	}
	
	
	
	